config timeserver 'ntp'
	option enabled '0'
	option file_flag '0'
	option enable_server '0'

config ntp_server '1'
	option host '0.openwrt.pool.ntp.org'

config ntp_server '2'
	option host '1.openwrt.pool.ntp.org'

config ntp_server '3'
	option host '2.openwrt.pool.ntp.org'

config ntp_server '4'
	option host '3.openwrt.pool.ntp.org'
