config pam '1'
    option enabled 0
    option service sshd
    option type sufficient
    option module unix
    option faillock 0
    option faillock_deny 5
    option faillock_unlock_time 600
    option faillock_fail_interval 900
    option faillock_even_deny_root 0

config pam '2'
    option enabled 0
    option service rpcd
    option type sufficient
    option module unix
    option faillock 0
    option faillock_deny 5
    option faillock_unlock_time 600
    option faillock_fail_interval 900
    option faillock_even_deny_root 0
